# BASIC

In [151]:
# Multiple assignment
species, age, bp = "elephant", 50, 125.6
print(f"species :{species}")
print(f"file span in years :{age}")
print(f"average blood pressure :{bp}")

species :elephant
file span in years :50
average blood pressure :125.6

In [3]:
p1 = p2 = p3 = p4 = 44
print(p1 + p2 + p3 + p4)

176

In [5]:
import sys
val = 92.78
print(type(val))
print(sys.getsizeof(val))
print(val, "is float?  ans:", isinstance(val, float))

<class 'float'>
24
92.78 is float?  ans: True

In [7]:
A = "welcome to python" # here 'A' is the variable and "welcome to python" is a value
sys.getsizeof(A)

58

In [9]:
val3 = 5 + 2j 
print(val3, "is complex?  ans: ", isinstance(val3, complex))

(5+2j) is complex?  ans:  True

In [11]:
bool(0)

False

In [13]:
bool(1)

True

### Operators

In [65]:
# Arithmetic 
a = 5 % 2 # it prints reminder
b = 5 / 2 # it prints division
c = 5 // 2 # if output is 2.5 then it only prints 2
d = 5 * 2 
e = 5 - 2 
f = 5 ** 4 # it prints power like ** - square
print(b)
print(c)
print(d)
print(e)
print(f)

2.5
2
10
3
625

In [63]:
#Comparision operator
print(3 > 2)
print(2 < 3)
print(3 == 3)
print(3 != 4)
print(3 >= 3)
print(3 <= 7)

True
True
True
True
True
True

In [69]:
#Logical Operator
print(True and False)
print(True and True)
print(False and True)
print(False and False)
print("\n")
print(True or False)
print(True or True)
print(False or True)
print(False or False)

False
True
False
False


True
True
True
False

## Arethemetic Operators Precedence

In [13]:
2 ** 3 ** 2 # Output of this eg is 512 because exponentiation is evaluated right to left.
#first it evaluate (3 ** 2) ans is 9 then (2 ** 9) ans of this is 512.
# 2 ** (3 ** 2) = 512

512

In [11]:
# It means which operator excute their operation according to operator.
result = 54*3/23+4-2**5
result

-20.956521739130434

# DATA TYPES IN PYTHON*

In [15]:
string = "pratik"
integer = 12
float = 1.2
complex = 25 + 5j
list = [1,2,3,4]
tuple = (1,2,3,4)
dictionary = { 'name' : 'pratik', 'age' : 22}   
set = {1,2,1,2}
boolean1 = False
boolean2 = True

# LIST, TUPLE, DICTIONARY & SET METHODS

**list Operations**

In [85]:
# add elements in given range
l = []
lst = int(input("How many elements you want to enter:"))

for i in range(lst):
    item = input(f"enter item {i + 1}")
    l.append(item)
print(l)

How many elements you want to enter: 5
enter item 1 3
enter item 2 4
enter item 3 5
enter item 4 5
enter item 5 6

['3', '4', '5', '5', '6']

In [91]:
# add whatever you want to insert
l = []
while True:
    item = input("Enter item (type 's'):")
    if item.lower() == 's':
        break   
    l.append(item)
print(l)

Enter item (type 'stop'): 3
Enter item (type 'stop'): 4
Enter item (type 'stop'): 3
Enter item (type 'stop'): 2
Enter item (type 'stop'): 3
Enter item (type 'stop'): 4
Enter item (type 'stop'): 5
Enter item (type 'stop'): 6
Enter item (type 'stop'): 6
Enter item (type 'stop'): 7
Enter item (type 'stop'): 8
Enter item (type 'stop'): 8
Enter item (type 'stop'): stop

['3', '4', '3', '2', '3', '4', '5', '6', '6', '7', '8', '8']

In [95]:
# adding elements in list by space 
lists = input("Enter elements by space:").split()
print(lists)

Enter elements by space: 1 2 3 4 5 6 7 8 9

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [109]:
# indexing & sclicing in list

fruits = ["apple", "banana", "cherry", "mango", "orange"]

print(fruits[1:4]) 
print(fruits[:3])
print(fruits[2:])
print(fruits[-3:])
print(fruits[::-1])  # reverse
print(fruits[::2]) # step of 2 it prints every 2nd element

del fruits[4] # delete by given element
del fruits # delete all the list
# print(fruits)

#Adding two lists
m = [ 1, 3, 5, 6, 6]
n = [2, 2, 3, 5, 6]
o = m + n
print(o)

['banana', 'cherry', 'mango']
['apple', 'banana', 'cherry']
['cherry', 'mango', 'orange']
['cherry', 'mango', 'orange']
['orange', 'mango', 'cherry', 'banana', 'apple']
['apple', 'cherry', 'orange']
[1, 3, 5, 6, 6, 2, 2, 3, 5, 6]

In [18]:
numbers = [5,10,15,20,25,25,30]

#Modify
numbers[1] = 12 
# print("after modification:",numbers[1])

#Adding
numbers.append(35) #add one emelment
numbers.extend([40,45,50]) #add multiple element
numbers.insert(2, 17) #insert element at given index here 2 is a index

#Removing
numbers.remove(45) #remove one element
numbers.pop() #remove last element

#Searching
# print("index of 15 is:",numbers.index(25))
# print("how many times 25 occured in list:",numbers.count(25))

#Sorting & Reversing
numbers.sort() #Asending order
numbers.sort(reverse=True) #Desending order
numbers.reverse() #here output is sorted because list is in desending order so revese method reverse the list
# print(numbers[::-1]) #Reverse list through slicing 

#Copy list
copy_numbers = numbers.copy()

#Clering list
copy_numbers.clear()

########################## Following is important in AI/ML #######################################

#Filtering Data.
even_numbers = [x for x in numbers if x % 2 ==0]

#Converting data types
str_list = ['1', '2', '3', '4']
int_list = list(map(int, str_list))

#Multiple lists
matrix = [[1,2,3], [4,5,6], [7,8,9]]
# print("matrix element:", matrix[1][2])

#ZIP() method which combines data
names = ["pratik", "pratiksha", "raju"]
age = [22, 20, 25]
combined = list(zip(names, age))
# print(combined)

#Enumerate funtion
features = ["age", "salary", "experience"]
for i, f in enumerate(features):
    print(f"Feature {i}: {f}")

Feature 0: age
Feature 1: salary
Feature 2: experience

**Tuple Operations**

In [68]:
# Tuples are immutable means it does not change after creation
# If we have to store data that we dont want to change then we use tuple
# In tuple there there are very few methods compare to list 
# Tuple has functions like sum, sorted, min, max, len that are useful 

tup = (2,4,6,5,7,6,4,6,7,5,3,5)
# print(tup.count(7)) # It counts how many time element occurs
# print(tup.index(2)) # It prints the index of given value

print(sum(tup))
print(sorted(tup)) #asending
print(sorted(tup, reverse=True)) #desending
print(len(tup))
print(max(tup))
print(min(tup))

mixed = ('data', 25, (50, [100, 90, (98)]), (150, 90))
# print(mixed[2][0]) #Nested tuple
# print(mixed[2][1][2]) 
# print([mixed[2][1:3]])

# We can slice tuple using [start : end : step size]
# print(tup[1:12:2])

60
[2, 3, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7]
[7, 7, 6, 6, 6, 5, 5, 5, 4, 4, 3, 2]
12
7
2

In [8]:
v = [0,1,2,3,[8,{5:[67,89,90,{'area':'southeast', 'city':'bangalore'}]}]]
print(v[4][1][5][3]['city'])

bangalore

In [92]:
person = {
    "name": "Pratik",
    "age": 22,
    "city": "Pune",
    "skills": ["Python", "Django"] # We can also create a list of values in dictionary 
}

#Modify
person["age"] = 23

#Adding
person["Country"] = "India" # add one element
person.update({"hobby":"Coding", "State":"Maharastra"}) # Add multiple element

#Removing
person.pop("hobby") #Remove given element by key for example "hobby" is a key
last_item = person.popitem() # Remove last element
del person['state'] # removing element using del method

#Searching
person.get("city") # If i dont have city in my dict then also this get method dont throw error
"city" in person # 'in' returns True or False

# Gettiing key, values & items from dict
list(person.keys())
list(person.values())
list(person.items())

#Copy
p = person.copy()

#Clear
clr = p.clear()

########################## Following is important in AI/ML #######################################

# Filtering Data (keys with string values only)
str_values = {}
for k,v in person.items():
    if isinstance(v, str):
        str_values[k] = v
# print(str_values)

# Converting data types
dict_to_list_keys = list(person.keys())
dict_to_list_val = list(person.values())
# print("Converted dict data type to list", dict_to_list_keys)
# print("Converted dict data type to list", dict_to_list_val)

# Nested dictionary (multiple dicts inside)
students = {
    "student1": {"name": "Amit", "marks": {"english":67, "Math":83}},
    "student2": {"name": "Neha", "marks": {"english":89, "Math":95}}
}
# print("Neha's marks:", students["student2"]["marks"]["english"])

In [ ]:
person = {
    "name": "Pratik",
    "age": 22,
    "city": "Pune",
}
person

**Set Operations**

In [6]:
nmbr = {5, 10, 15, 20, 25, 25, 30}

# Adding 
nmbr.add(30) #add one element

#First approach 
nmbr.update([35, 50, 65, 70]) # add multiple element by using list
#Second approach
n = [35, 50, 65, 70]
nmbr.update(n)

#remove
nmbr.remove(35) # remove given element
nmbr.discard(100) #remove element if present , else no error throws
nmbr.pop() # remove random element because sets are unordered

#Searching
# print("Is 25 in set?:", 25 in numbers)  # 'in' returns True or False
# print("Is 100 in set?:", 100 in numbers) 

#SET Operations
evens = {10, 20, 30, 40, 50, 60}
odds = {1, 2, 3, 4}

print("Union:", nmbr.union(evens, odds))        # combines both sets
print("Intersection:", nmbr.intersection(evens))  # common elements
print("Difference:", nmbr.difference(evens))  # elements in numbers but not in evens
print("Symmetric Difference:", nmbr.symmetric_difference(evens))  # elements in either but not both

print("Are odds a subset of evens:", odds.issubset(evens))
print("Are evens a superset of odds:", evens.issuperset(odds))

#Copy
c = nmbr.copy()

#Clear
clr = c.clear()

########################## Following is important in AI/ML #######################################

#Filtering Data
even_numbers = [x for x in nmbr if x % 2 ==0]

#Converting data types
str_list = ['1', '2', '3', '4']
int_list = set(map(int, str_list))

#Multiple lists
matrix = [[1,2,3], [4,5,6], [7,8,9]]
# print("matrix element:", matrix[1][2])

Is evens are subset of odds: False
Is odds are subset of evens: False

In [109]:
news = {'politics', 'business'}

news.add('sports')

sections = ["entertainment", "Lifestyle", "Advertising"]
news.update(sections)

news.remove("Lifestyle")
news.discard(200)


print(news)

{'business', 'sports', 'Advertising', 'entertainment', 'politics'}

# STRING OPERATIONS

In [83]:
namee = "Pratik Dada"

#indexing
print(namee[0]) # positive indexing
print(namee[-1]) # negative indexing

P
a

In [19]:
#String Concatination
S1 = "well"
S2 = " "
S3 = "Being"
print(S1+S2+S3)

well Being

In [21]:
# String sclicing #[start:end:step]
nme = "Hello, this is a python class."
print(nme[0:30])
print(nme[7:])
print(nme[:6])
print(nme[0:30:2])
print(nme[::-1]) #used to reverce string

Hello, this is a python class.
this is a python class.
Hello,
Hlo hsi  yhncas
.ssalc nohtyp a si siht ,olleH

In [9]:
#String formating
item = 40
item1 = 50
item3 = 77
print("cost of three items are {}, {} and {} respectively.".format(item, item1, item3))
print(f"cost of three items are {item}, {item1} and {item3} respectively.")
print("cost of three items are %d, %d and %d respectively."%(item, item1, item3))

cost of three items are 40, 50 and 77 respectively.
cost of three items are 40, 50 and 77 respectively.
cost of three items are 40, 50 and 77 respectively.

In [27]:
#Type Casting

a = 9.7
print(type(a))
print(int(a))

num = 5 
print(type(num))
print(float(num))
print(bool(num))
s = str(num)
print(type(s))

<class 'float'>
9
<class 'int'>
5.0
True
<class 'str'>

In [99]:
# String Methods
name = "Pratik Jagtap"
print(name.lower())
print(name.upper())
print(name.swapcase())
print(name.title())
print(name.capitalize())

str = "pratik.rahul.naman.rakesh"
# print(str.split())
print(str.split('.')) # it print many parts

str1 = "Hello My name is Pratik Jagtap and I am Currently living in Kharadi"
print(str1.partition('I')) # it print always 3 parts

pratik jagtap
PRATIK JAGTAP
pRATIK jAGTAP
Pratik Jagtap
Pratik jagtap
['pratik', 'rahul', 'naman', 'rakesh']
('Hello My name is Pratik Jagtap and ', 'I', ' am Currently living in Kharadi')

In [103]:
#Join method
text = ['pratik', 'dada', 'jagtap', "live", "In", "Kharadi"]
print(" ".join(text))
print("-".join(text))
print(".".join(text))

pratik dada jagtap live In Kharadi
pratik-dada-jagtap-live-In-Kharadi
pratik.dada.jagtap.live.In.Kharadi

In [27]:
#Strip method - it is used to remove unwanted things from first and last only
a = "@@@@@@@@@@AI Engineer@@@@@"
print(a.strip('@')) 

b = "ssssssssssssAI Engineerssssssss"
print(b.strip('s'))

c = "     AI Engineer     "
print(c.strip())

AI Engineer
AI Engineer
AI Engineer

In [29]:
#replace method
string = "Hello, World"
print(string.replace("World", "Python"))

Hello, Python

# CONTROL FLOW

- If-Elif-Else :

In [2]:
# if-elif-else
x = -23 
if x>0:
    print("The given number is positive")
else:
    print("The given number is negative")
print("out of else block")

The given number is negative
out of else block

In [31]:
import pandas as pd
data = {
    "name" : ['pratik', 'sachin', 'megh', 'vishal'],
    "age" : [22, 21, None, 20] # here one missing value
}
DF = pd.DataFrame(data) # converted list into table
if DF['age'].isnull().any():
    print(f"There is a missing value in 'age' column.") # here i used f string which is used for formating
else:
    print(f"No missing value in 'age' column.")

There is a missing value in 'age' column.

In [143]:
num = int(input("enter number:"))

if num in range(10,100):
    print("good to go")
    
if num % 2 == 0:
    print("wow number is even") 
elif num % 2 != 0:
    print("shit number is odd")
else:
    print("please enter valid number")

enter number: 50

good to go
wow number is even

- FOR LOOP :

In [19]:
word = "python"
for w in word:
    print(w)

p
y
t
h
o
n

In [149]:
num = [10,20, 30, 32, 41, 53]
for n in num:
    if n % 2 == 0:
        print(f"{n} is even number")
    else:
        print(f"{n} is odd number")

10 is even number
20 is even number
30 is even number
32 is even number
41 is odd number
53 is odd number

In [3]:
fruits = ['apple', 'banana', 'mango', 'watermalon']
for i in fruits:
    print(i)

apple
banana
mango
watermalon

In [7]:
s = '#12th main road'

for i in s.partition('main'):
    print(i)

#12th
main
 road

In [13]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [17]:
a = ['red', 'blue', 'green']
b = ['Apple', 'Banana', 'orange']
c = ['pune', 'mumbai', 'delhi']
for i in a:
    for h in b:
        for j in c:
            print(i,h,j)

red Apple pune
red Apple mumbai
red Apple delhi
red Banana pune
red Banana mumbai
red Banana delhi
red orange pune
red orange mumbai
red orange delhi
blue Apple pune
blue Apple mumbai
blue Apple delhi
blue Banana pune
blue Banana mumbai
blue Banana delhi
blue orange pune
blue orange mumbai
blue orange delhi
green Apple pune
green Apple mumbai
green Apple delhi
green Banana pune
green Banana mumbai
green Banana delhi
green orange pune
green orange mumbai
green orange delhi

In [21]:
a = ['red', 'blue', 'green']
b = ['Apple', 'Banana', 'orange']
for i,j in zip(a,b):
    print(i,j)

red Apple
blue Banana
green orange

In [29]:
course = ['maths', 'data science', 'economics', 'social science']
size=[89,78,76,78]
batch = ('A', 'B', 'C', 'D', 'E')

for i in course:
    for k in size:
        b_loc = size.index(k)
        b = batch[b_loc]
        print(f"Batch {b} of size {k} will attned {i}")

Batch A of size 89 will attned maths
Batch B of size 78 will attned maths
Batch C of size 76 will attned maths
Batch B of size 78 will attned maths
Batch A of size 89 will attned data science
Batch B of size 78 will attned data science
Batch C of size 76 will attned data science
Batch B of size 78 will attned data science
Batch A of size 89 will attned economics
Batch B of size 78 will attned economics
Batch C of size 76 will attned economics
Batch B of size 78 will attned economics
Batch A of size 89 will attned social science
Batch B of size 78 will attned social science
Batch C of size 76 will attned social science
Batch B of size 78 will attned social science

- WHILE LOOP :

In [18]:
i = 1
while i <= 8:
    print(i)
    i += 1

1
2
3
4
5
6
7
8

In [5]:
i = 1
while i<20:
    i += 1
    if i == 15:
        continue 
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20

In [11]:
nums = [25, 40, 25, 80, 25, 43, 25 , 25 , 80 , 25, 30 , 25, 43 , 25]

while 25 in nums:
    nums.remove(25)
    c = nums.count(25)
    if c == 5:
        break
print(nums)    
print(nums.count(25))

[40, 80, 43, 25, 25, 80, 25, 30, 25, 43, 25]
5

In [1]:
i = 0 
while i<8:
    i+=1
    sq = i**2
    if 10 < sq < 30:
        print("itration skipped here")
        continue
    print(f"square of {i} : {sq}")

square of 1 : 1
square of 2 : 4
square of 3 : 9
itration skipped here
itration skipped here
square of 6 : 36
square of 7 : 49
square of 8 : 64

In [5]:
count = 1
while count <= 3:
    count += 1
    print("data science")

data science
data science
data science

In [11]:
#odd numbers
i = 0
while i <= 20:
    if i % 2 != 0:
        print(i)
    i += 1

1
3
5
7
9
11
13
15
17
19

In [1]:
# Even numbers
i = 2
while i <= 20:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [25]:
#Multiplication table
num = int(input("Enter a number: "))
i = 1
while i <= 10:
    print(f"{num} x {i} = {num * i}")
    i += 1

Enter a number:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [27]:
# Reverse number printing 
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

- BREAK, CONTINUE, PASS :

In [48]:
for num in range(1, 11):
    if num == 4:
        break 
    print(num)

1
2
3

In [44]:
i = 0
while i < 10:
    i += 1
    if i % 2 == 0:
        continue 
    print(i)

1
3
5
7
9

In [46]:
for num in range(5):
    if num == 3:
        pass 
    print(num)

0
1
2
3
4

In [50]:
#list Comprehension
num = [x**2 for x in range(10) if x % 2 == 0] 
print(num)

[0, 4, 16, 36, 64]

# PACKAGES

In [ ]:
import datetime

In [27]:
from datetime import date
my_date = date(1930,9,13)
print(my_date)

1930-09-13

In [47]:
import datetime
today = date.today()
print(today)
print(today.weekday())
print(today.isoweekday())
print(datetime.datetime.now())
print("current year:",today.year)
print("current month:",today.month)
print("current day:",today.day)

2025-08-14
3
4
2025-08-14 12:03:01.422689
current year: 2025
current month: 8
current day: 14

In [69]:
from datetime import datetime as dt
at_present = dt.now()
print(dt.date(at_present))
print(at_present.minute)
print(at_present.second)
print(at_present)

2025-08-14
16
1
2025-08-14 12:16:01.102668

In [81]:
from datetime import date, timedelta

c_d = date.today()
print(c_d)

# By using timedelta we can predict future dates
future_date_after_2years = c_d + timedelta(days=730)
print(future_date_after_2years)

2025-08-14
2027-08-14

# FUNCTIONS
- built in fuctions
- user defined funtions
- lambda(anonymous functions)

In [32]:
def add(a,b):
    return a + b

add(4,5)

9

In [40]:
def kkdd(name,age,salary,address):
    print(f"My name is {name}")
    print(f"may age", age)

kkdd('pratik')

My name is pratik

In [42]:
def are_of_circle(r):
    area = 3.14*r*r
    print(area)
are_of_circle(5)

78.5

In [48]:
def greet(name):
    return "Hello, " + name + "!"

print(greet("Pratik"))
print(greet("jagtap"))

Hello, Pratik!
Hello, jagtap!

In [2]:
def multiply(a,b):
    product = a * b
    return product

print(multiply(4,5))

20

In [9]:
def calculate_area(length, width):
    area = length * width
    return area

result = calculate_area(5,3)
print(result)

15

In [1]:
def calc_avg(a,b,c):
    sum = a + b + c
    avg = sum / 3
    return avg

calc_avg(1,2,3)

2.0

2.0

In [8]:
def addlist(l1, l2):
    result = sorted(l1 + l2)
    return result

l1 = [2,3,4,5,6,54,3]
l2 = [3,2,1,2,4,65,4]

a = addlist(l1, l2)
print(a)

[1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 6, 54, 65]

In [58]:
def odd_even(n):
    n = int(input("Enter a number: "))
    if n % 2 == 0:
        return "Number is even"
    else:
        return "Number is odd"

print(odd_even(n))

Enter a number:  4

Number is even

In [4]:
passw = input("enter password")
while passw != 'python123':
    print("access denied")
    passw = input("enter password")
print("access granted")

 pyth

access denied

 python123

access granted

## Doc String

In [6]:
print(max.__doc__)
# print(min.__doc__)
# print(print.__doc__)
# print(type.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

# Lambda

In [20]:
addition = lambda a : a + 10
print(addition(8))

18

In [24]:
square = lambda a : a ** 2
print(square(8))

64

In [26]:
product = lambda a, b : a * b
print(product(2,3))

6

In [70]:
#Filter
#Filter works on condition
seq = [0,1,2,3,5,8,13]
result1 = list(filter(lambda x: x % 2 != 0, seq))
result2 = list(filter(lambda x: x % 2 == 0, seq))
print(result1)
print(result2)

[1, 3, 5, 13]
[0, 2, 8]

In [48]:
num = [0,1,2,3,4,5,6,7,8,9]
result1 = filter(lambda x : x % 3 == 0, num)
result2 = map(lambda x : x ** 3, num)
print(list(result1))
print(list(result2))

[0, 3, 6, 9]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [50]:
#Map
#Map works on every item and give change in items
numbers = (1,2,3,4)
result = map(lambda x : x * x, numbers)
print(list(result))

[1, 4, 9, 16]

In [54]:
#Without lambda map function
def addition(n):
    return n + n
numbers = [1,2,3,4]
result = map(addition, numbers)
print(tuple(result))

(2, 4, 6, 8)

In [56]:
num1 = [1,2,3]
num2 = [4,5,6]

r = map(lambda x, y : x + y, num1 ,num2)
print(list(r))

[5, 7, 9]

In [68]:
person = lambda name: print(f"hello {name}.. How are you ")
person('pratik')
person('mrunal')

hello pratik.. How are you
hello mrunal.. How are you

In [86]:
# Reduce Function

import functools
lis = [1,3,5,6,2]
print("the sum of the list elements is: ", end = "")
print(functools.reduce(lambda a, b: a + b, lis))
print("maximum number of list: ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

the sum of the list elements is: 17
maximum number of list: 6

# File Handling

In [ ]:
f = open('text.txt','r') #to open file in read mode
#but this cell will throw error because i haven't created any text.txt file

In [ ]:
f.read() #to open the content of file

In [ ]:
f.close() # to close the file

In [ ]:
s = "this is a nice way to learn data science"

In [ ]:
f = open('harry.txt','w') #open file in write mode

In [ ]:
f.write(s) # this will write 's' text in harry.txt

In [ ]:
f.close() # after this we can see the output in harry.txt
#This is the manual way to close the file

In [ ]:
# With statement(best practice)

with open("example.txt", "r") as file:
    content = file.read()
    print(content)  # No need to manually close the file

operation       Description                     Example

1)Open file	    Open a file	                    file = open("example.txt", "r")
2)Read file	    Read all content	            file.read()
3)Read line	    Read one line	                file.readline()
4)Read lines	Read all lines into list        file.readlines()
5)Write file	Write content (overwrite)	    file.write("Hello")
6)Append file	Add content to the end	        file.write("\nMore text")
7)Check file    Check before opening/deleting   os.path.exists("file.txt")
existence		
8)Delete file	Remove a file	                os.remove("file.txt")

In [ ]:
# this is used to check if a file exists before opening it.
import os

if os.path.exists("example.txt"):
    print("File exists!")
else:
    print("File not found!")

In [ ]:
# module to delete a file.
import os

if os.path.exists("example.txt"):
    os.remove("example.txt")
    print("File deleted.")
else:
    print("File does not exist.")

In [ ]:
# Reading a Binary File
with open("image.jpg", "rb") as file:
    data = file.read()
    print(data)  # Outputs binary content

In [ ]:
# Writing to a Binary File
with open("new_image.jpg", "wb") as file:
    file.write(data)  # Writes binary content to a new file

# JSON Module

#### Commen Json methods
 - json.dumps(obj) -> Converts Python object to JSON string -> eg. json.dumps(data)
 - json.dump(obj, file) -> Writes JSON to a file -> eg. json.dump(data, file)
 - json.loads(json_string) -> Converts JSON string to Python object -> eg. json.loads(json_data)
 - json.load(file) -> Reads JSON from a file -> eg. json.load(file)

1) Converting Python Objects to JSON (Serialization)

In [16]:
import json

data = {"name": "Alice", "age": 25, "city": "New York"}

json_string = json.dumps(data) #  Converts Python object to JSON string
print(json_string)  
print(type(json_string))

{"name": "Alice", "age": 25, "city": "New York"}
<class 'str'>

In [ ]:
with open("data.json", "w") as file:
    json.dump(data, file) # Write JSON data to a file

2) Converting JSON to Python Objects (Deserialization)

In [ ]:
json_data = '{"name": "Alice", "age": 25, "city": "New York"}'

python_obj = json.loads(json_data) # Convert JSON string to Python object
print(python_obj)  
print(type(python_obj))

In [ ]:
with open("data.json", "r") as file:
    python_data = json.load(file) # Read JSON data from a file

print(python_data)

In [ ]:
formatted_json = json.dumps(data, indent=4) # Formatting JSON Output
print(formatted_json)

Demonstrate writing a function that merges two sorted lists into one sorted list.
You could show the logic with two pointers, or use heapq.merge, or simply sorted(list1 + list2)
but mention complexities.